/* Global Variables*/
:root {
    --rich-black: #0B090A;
    --eerie-black: #161A1D;
    --blood-red: #660708;
    --ruby-red: #A4161A;
    --carnelian: #BA181B;
    --imperial-red: #E5383B;
    --black-shadows: #B1A7A6;
    --light-gray: #D3D3D3;
    --cultured: #F5F3F4;
    --white: #FFFFFF;
}
/* Page globals */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *::after {
    box-sizing: inherit;
    margin: 0;
}
body {
    background-color: var(--eerie-black);
    color: var(--cultured);
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.5rem;
    max-width: 100%;
    width: 100%;
}
h1, h2, h3, h4{
    font-family: 'Alfa Slab One', cursive;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 4rem;
}
h4 {
    font-size: 3rem;
}
h5 {
    font-size: 2rem;
    margin: 2.5rem 0;
}
h6 {
    font-size: 2rem;
    margin: 2.5rem 0;
}
p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
li {
    font-size: 1.75rem;
    margin: 1rem 0;
}
a {
    color: var(--cultured);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: normal;
    text-decoration: none;
}
img {
    max-height: 100%;
    max-width: 100%;
}
/* Utilities */
.header-bar {
    align-items: center;
    background-color: var(--rich-black);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.header-bar .logo {
    height: 9rem;
    margin-left: 5%;
    width: 9rem;
}
.header-bar .logo img {
    border: 0.2rem solid var(--carnelian);
    border-radius: 50%;
    height: 100%;
}
/* Header Banner */
.header-banner {
    background-image: url("../media/header-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-banner-content {
    display: block;
    margin-right: 50%;
    padding: 20rem 0 20rem 10%;
    text-shadow: 0.2rem 0.2rem var(--eerie-black);
    width: 50%;
}
.header-banner-content span {
    color: var(--imperial-red);
    text-shadow: 0.1rem 0.1rem var(--blood-red);
}
/* Navigation */
nav {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 50%;
}
nav a {
    flex-basis: 10%;
    padding: 3rem 0 0;
    text-align: center;
}
nav a.active {
    border-bottom: 0.5rem solid var(--carnelian);
    color: var(--carnelian);
}
nav a:after {
    border-bottom: 0.5rem solid var(--carnelian);   
    content: "";
    display: block;
    padding: 3rem 0 0;
    transition: 500ms;
    width: 0;
}
nav a.active::after {
    border-bottom: 0;   
}
nav a:hover {
    color: var(--carnelian); 
}
nav a:hover::after {
    width: 100%;
}
/* About Me */
.about-me-content {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 10%;
}
.about-me-portrait {
    flex-basis: 35%;
    margin: 5rem;
}
.about-me-portrait img {
    border: 1rem solid var(--imperial-red);
    border-radius: 7.5%;

}
.about-me-info-tabs {
    flex-basis: 65%;
}
.about-me-info-tabs h2 {
    margin: 2.5rem 0;
}
.about-me-info-tabs p {
    margin: 2rem 0;
}
.about-me-info-tabs ul {
    list-style: none;
    padding: 0;
}
.tabs-content ul li h6, .tabs-content ul li p {
    display: inline-block;
    margin: 1rem 0 0;
}
.tabs ul {
    display: flex;
    padding: 1rem 0;
}
.tabs ul li {
    flex-basis: 25%;
}
.tabs ul li h5 {
    letter-spacing: normal;
    margin: 0;
}
.tabs ul li:hover {
    cursor: pointer;
}
.tabs ul li.active h5 {
    color: var(--imperial-red);
    transition: 1s;
}
.tabs-content {
    height: 30rem;
}
.tabs-content ul li h6 {
    letter-spacing: normal;
}